:root{
    --cor01: #E6567A;
    --cor02: #BF4A67;
    --cor03: #3c3d3e;
    --cor04: #47C9AF;
    --cor05: #44B39D;
    --font-poppis: 'Poppins',Arial, sans-serif;
    --font-press:  'Press Start 2P',Arial, sans-serif;
    --font-roboto: 'Roboto',Arial, sans-serif;;
}