.mosaico-single{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.mosaicoimg{
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 250px;
}
.-mosaicopara{
    width: 40%;
}

.main-mosaico .container{
    padding: 0;
}
.-bgcolor{
    background-color: var(--cor05);
}